.section {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, .25);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show-bg .3s both;
  span {
    padding: 2rem 2rem 3rem 2rem;
    width: 30rem;
    height: 20rem;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: .25rem .25rem .5rem var(--darkShadow);
    animation: show-modal .3s both;
    main {
      position: relative;
      width: 100%;
      height: 20%;
      border-bottom: 1px solid var(--color);
      h3 {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--color);
      }
      i {
        font-size: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        color: var(--color);
        cursor: pointer;
        &:active {
          transform: scale(.9);
        }
      }
    }
    p {
      font-size: 1.1rem;
      min-height: 15%;
      color: var(--color);
    }
    div {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      button {
        border: none;
        background: var(--primary);
        color: var(--color);
        box-shadow: .15rem .15rem .5rem var(--darkShadow),
        -.15rem -.15rem .5rem var(--lightShadow);
        font-size: 1.1rem;
        width: 7rem;
        height: 2.3rem;
        justify-self: center;
        align-self: center;
        cursor: pointer;
        &:hover {
          filter: brightness(105%);
        }
        &:active {
          box-shadow: inset .15rem .15rem .5rem var(--darkShadow),
          inset -.15rem -.15rem .5rem var(--lightShadow);
        }
      }
      .cancel {
        background: #008BAA;
      }
      .delete {
        background: #B3312A;
      }
    }
  }
}
.hidde {
  animation: hidde-bg .3s both;
  span {
    animation: hidde-modal .3s both;
  }
}

@keyframes show-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hidde-bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hidde-modal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5rem);
  }
}