.div {
  z-index: 300;
  position: absolute;
  bottom: 5.5rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 2rem;
  min-width: 25rem;
  max-width: 50rem;
  min-height: 3rem;
  max-height: 5rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
  overflow: hidden;
  opacity: 1;
  transition: .5s;
  p {
    width: 75%;
    padding: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  i {
    display: flex;
    justify-content: center;
    width: 15%;
    cursor: pointer;
  }
  .close {
    cursor: pointer;
  }
}
.hidden {
  pointer-events: none;
  opacity: 0;
  transition: .5s;
}
