.card {
  width: 90%;
  height: 14rem;
  color: var(--color);
  background: var(--secondary);
  color: #E0E0E0;
  color: var(--color);
  background: var(--primary);
  background: var(--third);
  box-sizing: border-box;
  margin: 2rem 0 2rem 1rem;
  overflow: hidden;
  animation: opacity .5s both;
  box-shadow: 0 10px 17px 0px var(--shadow);
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    padding: 0 2rem;
    border-bottom: 1px solid var(--primary);

    span {
      display: flex;
      align-items: center;
      h1 {
        font-size: 1.5rem;
        margin: 0 0 0 1rem;
      }
      input[type=checkbox] {
        all: unset;
        position: relative;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: var(--third);
        border: 1px solid #888;
        &:checked {
          background: var(--secondary);
          &::before {
            content: '\f00c';
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
            color: #E0E0E0;
          }
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 2rem;
        font-size: 1rem;
        border: none;
        color: #E0E0E0;
        cursor: pointer;
      }
      .edit {
        background: #0C71D7;
      }
      .trash {
        background: #FF4861;
      }
    }
  }
  .description {
    width: 100%;
    height: 40%;
    p {
      padding: .5rem 2rem;
      width: 100%;
      height: 100%;
      font-size: 1.15rem;
      overflow-y: scroll;
    }
  }
  .options {
    height: 25%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: #E0E0E0;
  color: var(--color);

      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}