:root {
  --primary: #E0E0E0;
  --secondary: #2D2C3F;
  --third: #F5F5F5;
  --fourth: #302f43;
  --color: #151515;
  --darkShadow: #5A5A5A;
  --lightShadow: #fff;
  --shadow: #73737373;
  .darkMode {
    --primary: #151515;
    --secondary: #222222;
    --third: #222222;
    --fourth: #151515;
    --color: #E0E0E0;
    --darkShadow: #080808;
    --lightShadow: #222222;
    --shadow: #00000073;
  }
  font-size: 1vw;
  @media (max-width: 1024px) {
    font-size: 1.8vh;
  }
  @media (max-height: 500px) {
    font-size: 2vw;
  }

}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--third);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--primary);
  transition: .5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}