.nav {
  z-index: 100;
  position: absolute;
  top: 0;
  height: 4rem;
  width: 100%;
  background: var(--third);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
  .logo {
    height: 100%;
    width: 15rem;
    background: var(--secondary);
    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.25rem;
      margin: 0 0 2.5rem 0;
      h1 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: #E0E0E0;
        text-align: center;
      }
      i {
        color: #E0E0E0;
        margin: 0 1rem 0 0;
        font-size: 1.25rem;
      }
    }
  }
  .ul {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 0 2rem 0 0;
    li {
      font-size: 1.15rem;
      margin: 0 1rem;
      color: var(--color);
      cursor: default;
      i {
        font-size: 1.25rem;
      }
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
  }
}

.sidebar {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 15rem;
  height: calc(100% - 4rem);
  background: var(--secondary);
  .ul {
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 0 2rem 0 0;
    li {
      font-size: 1.15rem;
      margin: 0 1rem;
      color: var(--color);
      cursor: default;
      i {
        font-size: 1.25rem;
      }
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
  }
  ul {
    list-style: none;
    .li {
      margin: 1.5rem 0 1.5rem 5%;
      border-radius: 1rem 0 0 1rem;
      width: 95%;
      height: 4rem;
      display: flex;
      align-items: center;
      transition: .25s;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
      i, img {
        font-size: 1.1rem;
        color: #E0E0E0;
        position: absolute;
        left: 1.8rem;
        pointer-events:none;
      }
      img {
        border-radius: 50%;
      }
      span {
        font-size: 1.1rem;
        color: #E0E0E0;
        position: absolute;
        left: 6rem;
        width: max-content;
        pointer-events:none;
      }
    }
    .active {
      background: var(--primary);
      transition: .25s;
      i {
        color: var(--color);
      }
      span {
        color: var(--color);
      }
    }
  }
}

.switchWrapper {
  z-index: 200;
  width: fit-content;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 1rem;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .nav {
    z-index: 200;
    width: 100vw;
    .logo {
      width: 50%;
      background: var(--third);
      li {
        h1, i {
          color: var(--color);
        }
      }
    }
    .toggleWrapper{
      position: relative;
      float: right;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .5rem 1.5rem 0 0;
      .toggle, .toggle::after, .toggle::before{
        z-index: 200;
        content: '';
        position: absolute;
        width: 2rem;
        height: .1rem;
        background: var(--color);
        transition: .1s;
      }
      .toggle{
        top: 1rem;
      }
      .toggle::before{
        top: .5rem;
      }
      .toggle::after{
        top: 1rem;
      }
      .active{
        top: unset;
        transform: rotate(-45deg);
        transition: .2s;
        &::before{
          top: 0;
          transform: rotate(90deg);
        }
        &::after{
          all: unset;
        }
      }
    }
  }
  .sidebar {
    width: 100vw;
    transform: translateX(0%);
    transition: .5s;
    overflow: hidden;
    ul {
      width: 100%;
      .li {
        margin: 1.5rem 0 1.5rem 0;
        width: 100%;
        padding: 0 0 .2rem 0;
        border-radius: 0%;
        i, span {
          font-size: 1.2rem;
        }
        img {
          width: 2rem;
        }
        &:last-child {
          pointer-events: none;
        }
      }
    }
    .ul {
      bottom: 4.5rem;
      position: absolute;
      width: 100%;
      justify-content: center;
    }
  }
  .hidde {
    transform: translateX(-100%);
    transition: .5s;
  }
}