.nav {
  z-index: 100;
  position: absolute;
  top: 0;
  height: 4rem;
  width: calc(100% - 15rem);
  background: var(--third);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: .5s;
  h2 {
    color: var(--color);
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 0 0 2rem;
  }
  ul {
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 0 2rem 0 0;
    li {
      font-size: 1.15rem;
      margin: 0 1rem;
      color: var(--color);
      cursor: default;
      i {
        font-size: 1.25rem;
      }
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
  }
}

.sidebar {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 15rem;
  height: 100%;
  background: var(--secondary);
  ul {
    list-style: none;
    .logo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.25rem;
      margin: 0 0 2.5rem 0;
      border-bottom: .25rem solid var(--fourth);
      h1 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: #E0E0E0;
        text-align: center;
      }
      i {
        color: #E0E0E0;
        margin: 0 1rem 0 0;
        font-size: 1.25rem;
      }
    }
    .li {
      margin: 1.5rem 0 1.5rem 5%;
      border-radius: 1rem 0 0 1rem;
      width: 95%;
      height: 4rem;
      display: flex;
      align-items: center;
      transition: .25s;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
      i {
        font-size: 1.1rem;
        color: #E0E0E0;
        position: absolute;
        left: 1.8rem;
        pointer-events:none;
      }
      span {
        font-size: 1.1rem;
        color: #E0E0E0;
        position: absolute;
        left: 6rem;
        width: max-content;
        pointer-events:none;
      }
    }
    .active {
      background: var(--primary);
      transition: .25s;
      i {
        color: var(--color);
      }
      span {
        color: var(--color);
      }
    }
  }
}

.switchWrapper {
  z-index: 200;
  position: absolute;
  bottom: 1rem;
  left: 5rem;
}