.section {
  position: absolute;
  width: calc(100% - 15rem);
  height: calc(100% - 4rem);
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  background: var(--primary);
  .panel {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    div {
      all: unset;
      width: 15rem;
      height: auto;
      display: flex;
      align-items: center;
      label {
        margin-right: .8rem;
      }
      input {
        width: 12rem;
      }
    }
    span {
      width: 20rem;
      display: flex;
      justify-content: space-around;
      button {
        width: 4rem;
        &:nth-child(1) {
          width: 12rem;
        }
      }
    }
  }
  .cardContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .empty {
      width: 100%;
      height: calc(100vh - 8rem);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      i, h1 {
        color: var(--color);
        font-size: 3em;
        margin: .5rem 0;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section {
    top: 5rem;
    width: 100%;
    height: 100%;
    .panel {
      flex-direction: column;
    }
  }
}