.section {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, .25);
  animation: show-bg .3s both;
  overflow: hidden;
  span {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    margin: 0 auto;
    padding: 2rem 2rem 3rem 2rem;
    width: 35rem;
    min-height: 20rem;
    max-height: 40rem;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: .25rem .25rem .5rem var(--darkShadow);
    animation: show-modal .3s both;
    overflow: hidden;
    main {
      padding: .5rem 0 3rem 3rem;
      position: absolute;
      width: 100%;
      height: 3.5rem;
      background: var(--primary);
      border-bottom: 1px solid var(--color);
      h3 {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--color);
      }
      i {
        font-size: 1rem;
        position: absolute;
        right: 3rem;
        top: 0;
        color: var(--color);
        cursor: pointer;
        &:active {
          transform: scale(.9);
        }
      }
    }
    form {
      margin-top: 5rem;
      .requiredInputs {
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .buttonWrapper {
        all: unset;
        box-sizing: border-box;
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 2rem 0 0;
      }
      .customFilesContainer {
        width: 35rem;
        height: 12rem;
        margin: 1rem 0;
        overflow-y: scroll;
        .customFileWrapper {
          display: flex;
          margin: 2rem 0;
          div {
            width: 80%;
          }
          aside {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
      .buttonsContainer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
  .hidde {
    animation: hidde .3s both;
  }
}
.hidde {
  animation: hidde-bg .3s both;
  span {
    animation: hidde-modal .3s both;
  }
}

@keyframes show-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hidde-bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hidde-modal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5rem);
  }
}

@media (max-width: 1024px) {
  .section {
    span {
      width: 100vw;
      height: 100%;
      top: 0;
      left: 0;
      right: unset;
      min-height: unset;
      max-height: unset;
      border-radius: unset;
      main {
        h3 {
          font-size: 1.2rem;
        }
      }
      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .customFilesContainer {
          width: 100vw;
          height: 20rem;
        }
      }
    }
  }
}